.sidebar-style {
	background: rgb(255, 255, 255); margin: 0px 8px; padding: 0px 8px; opacity: 0.7;
}
@media all and (max-width:767px)
{
.sidebar-style {
	background: none; margin: 0px 8px; padding: 0px 8px; opacity: 1;
}
}
@media all and (max-width:979px) and (min-width:768px)
{
.sidebar-style {
	background: rgb(255, 255, 255); margin: 0px 8px; padding: 0px 8px; opacity: 0.7;
}
}
